# -------------------------------
# Java Compiled Files
# -------------------------------
*.class

# -------------------------------
# Build Directories
# -------------------------------
target/
build/
out/

# -------------------------------
# IntelliJ IDEA
# -------------------------------
.idea/
*.iml

# -------------------------------
# VS Code
# -------------------------------
.vscode/

# -------------------------------
# Eclipse
# -------------------------------
.settings/
.project
.classpath
bin/

# -------------------------------
# Logs
# -------------------------------
*.log

# -------------------------------
# OS Files
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Maven Wrapper Cache
# -------------------------------
.mvn/wrapper/maven-wrapper.jar